body {
    background: rgb(201, 204, 201)
    
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #18def8;
    color: rgb(28, 196, 238);
    cursor: pointer;
    border: solid 1px #24ddfd
}

.add-experience .a{
    text-decoration:none;
    color:black;
   
}
.add-experience
{
    
    background-color: rgb(24, 230, 34);
    border-radius: 10px;
}
.profile_body
{
    background-color:rgba(207, 207, 205, 0.568);
}
.back
{
    padding-top: 10px;
}   
.back a
{
    color: grey;
    background-color: none;
}
.back a:hover
{
    
    color: green;
    

}

.profile_body .profile_page 
{
    
    padding-top: 10px;
    padding-left: 91%;
}
.profile_body .profile_page input
{
    border-radius: 5px;
    background-color: whitesmoke;
    color: grey;
    font-weight: 600;
    background-color: palegoldenrod;
}
.container.body
{
    /* background-color: grey; */
    border: solid 5px rgb(122, 131, 122);
    padding-right: 50%;
    padding-left: 30%;
    padding-bottom: 25px;
    color: white;
}

.container.data
{
    padding-top: 10px;
    padding-bottom: 100px;
    
}
.container.data label
{
    
    background-color: transparent;
    border: transparent;
    text-align: center;
    color:white;
    font-weight: 600;
    font-size: 20px;
}


.card.badge
{
    padding-left: 0px;
    background-color: grey;
    align-self: center;
}

.container.body .card a
{
    color: rgb(29, 27, 27);
    padding-left: 350px;
}
.container.body .card a:hover
{
    color: rgb(245, 241, 241);
}
.about_profile
{
    font-size: 20px;
}
.about_profile label
{
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    text-align: center;
    color: rgb(141, 219, 233);
}