body {
    background: rgb(201, 204, 201)
    
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #18def8;
    color: rgb(28, 196, 238);
    cursor: pointer;
    border: solid 1px #24ddfd
}

.add-experience .a{
    text-decoration:none;
    color:black;
   
}
.add-experience
{
    
    background-color: rgb(24, 230, 34);
    border-radius: 10px;
}
.profile_body
{
    background-color:rgba(207, 207, 205, 0.568);
}   

