/*@import url(omnes-pro.css);*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

* {
    outline: none !important;
    box-shadow: none;
}
body{
    font-family: 'Open Sans';
    overflow-x: hidden;
    margin-left: 10px;
    margin-right: 10px; 
}
nav{
    height: 10px;
    width: 100%;
    margin-bottom: 70px;
}

.img1{
    width: 80px;
    height: 80px;
    float: left;
}
.img2{
    width: 80px;
    height: 80px;
    float: right;
}
.container{
    border: 1px solid black;
}
table, th, td {
    border: 1px solid black;
  }

.main-head{
     border: 1px solid black;
     text-align: center;
     font-weight: 700;
}

 


}
.pic{
    border: 1px solid black;
    height: fit-content;
    padding-left: 200px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
ul li{
    list-style-type: none;
}
.cont{

    height: 50px;
    width: 200px;
    padding: 20px;
  
    font-weight: 700;
}
.btn-sub{
    margin: 10px 40% ;
    width: 200px;
    height: 50px;
    background-color: rgb(12, 192, 168);
    color: #ffff;

}
.btn-sub:hover{
    background-color: rgb(26, 165, 14);
    color: #ffff;
}
.btn-val{
    margin: 10px 70% ;
    width: 100px;
    height: 40px;
    background-color: rgb(211, 20, 20);
    border-radius: 10%;
    color: #ffff;
    font-weight: 500;
}
.btn-val:hover{
    background-color: rgb(11, 165, 21);
    color: #fff;
}